<h2 class="my-6 text-2xl font-medium">Products</h2>
<ul
  class="list-none text-base capitalize font-medium text-neutral-600 flex flex-col gap-y-3"
>
  <li>
    <a routerLink="/products" class="hover:underline transition-all duration-75"
      >All</a
    >
  </li>
  @for (category of categories(); track category) {
    <li>
      <a
        routerLink="/products"
        [queryParams]="{ category: category }"
        class="hover:underline transition-all duration-75"
        [routerLinkActive]="'underline text-blue-400 duration-[125] ease-in transition'"
      >
        {{ category }}
      </a>
    </li>
  }
</ul>
